@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:400,600&display=swap');

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: regular;
    font-weight: 400;
    src: url(/assets/fonts/iAWriterQuattroS-Regular.ttf) format('Truetype')
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 400;
    src: url(/assets/fonts/iAWriterQuattroS-Italic.ttf) format('Truetype')

}

* {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --lightgray: rgb(246, 243, 238);
    --darkgray: rgb(135, 137, 149);
    --red: rgb(255, 125, 38);
    --font-text: 'iA Writer Quattro', 'IBM Plex Mono';
}

body {
    font-family: var(--font-text);
    padding: 1rem;
}

a {
    color: inherit;
    text-decoration: underline;
}
a:hover, a:focus {
    text-decoration: none;
}

.hero {
    margin: 0 auto;
    display: block;
    max-width: 20rem;
    margin-bottom: 2rem;
}

.site--header {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.site--title {
    font-weight: normal;
}

.home--nav {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-text);
    display: grid;
}

.home--nav div {
    margin-bottom: 4rem;
}

@media(min-width: 55rem){
    .home--nav {
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid var(--darkgray);
        border-left: 1px solid var(--darkgray);
        border-radius: 2px;
    }
    .home--nav div {
        border-bottom: 1px solid var(--darkgray);
        border-right: 1px solid var(--darkgray);
        padding: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.home--nav h3 {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.home--nav a {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 4px solid var(--red);
    text-decoration: none;
    margin-bottom: 1rem;
    word-spacing: -.1em;
}
.home--nav a:hover {
}

.home--nav p {
    max-width: 25em;
    font-size: 1rem;
    word-spacing: -.2em;
    line-height: 1.5;
    margin: 0 auto;
}

.article {
    max-width: 40rem;
    margin: 0 auto;
}

.article--header {
    margin-bottom: 4rem;
    font-family: var(--font-text);
    text-align: center;
}
.article--title {
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 1.6rem;
    display: inline-block;
    border-bottom: 4px solid var(--red);
}

.article--intro {
    font-size: 1.6rem;
}

.article--body li {
    margin-bottom: .5rem;
    
}
.article--body p {
    line-height: 1.35;
    word-spacing: -.1em;
    margin-bottom: .5rem;
}

.article--body img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.article--body h2 {
    font-weight: normal;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--red);
    display: inline-block;
}
.article--body h3 {
    font-weight: normal;
    text-decoration: underline;
    margin-top: 2rem;
    margin-bottom: .5rem;
}
.article--body pre {
    padding: 1rem;
    border-radius: 2px;
    line-height: 1.3;
}
.article--body code {
    font-family: 'IBM Plex Mono';
    background: var(--lightgray)
}