@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:400,600&display=swap');

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: regular;
    font-weight: 400;
    src: url(/assets/fonts/iAWriterQuattroS-Regular.ttf) format('Truetype')
}

@font-face {
    font-family: 'iA Writer Quattro';
    font-style: italic;
    font-weight: 400;
    src: url(/assets/fonts/iAWriterQuattroS-Italic.ttf) format('Truetype')

}

* {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --lightgray: rgb(242, 242, 242);
    --red: rgb(255, 135, 99);
    --font-text: 'iA Writer Quattro', 'IBM Plex Mono';
}

body {
    font-family: var(--font-text);
    padding: 1rem;
}
@media (min-width: 45rem){

    body:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 2rem;
        background: url('/assets/pattern.png');
        background-size: 3px;
    }
}

a {
    color: inherit;
    text-decoration: underline;
}
a:hover, a:focus {
    text-decoration: none;
}

.hero {
    margin: 0 auto;
    display: block;
    max-width: 20rem;
    margin-bottom: 2rem;
}

.site--header {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.site--title {
    font-weight: normal;
}

.home--nav {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-text)
}

.home--nav h3 {
    font-weight: normal;
    font-size: 1rem;
}

.home--nav a {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 4px solid var(--red);
    text-decoration: none;
    margin-bottom: 1rem;
}

.home--nav p {
    max-width: 25em;
    font-size: 1rem;
    word-spacing: -.2em;
    line-height: 1.5;
    margin: 0 auto;
}

.home--nav div {
    margin-bottom: 4rem;
}

.article {
    max-width: 40rem;
    margin: 0 auto;
}

.article--header {
    margin-bottom: 4rem;
    font-family: var(--font-text);
    text-align: center;
}
.article--title {
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 1.6rem;
    display: inline-block;
    border-bottom: 4px solid var(--red);
}

.article--intro {
    font-size: 1.6rem;
}

.article--body li {
    margin-bottom: .5rem;
    
}
.article--body p {
    line-height: 1.35;
    word-spacing: -.1em;
    margin-bottom: .5rem;
}

.article--body img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.article--body h2 {
    font-weight: normal;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--red);
    display: inline-block;
}
.article--body h3 {
    font-weight: normal;
    text-decoration: underline;
    margin-top: 2rem;
    margin-bottom: .5rem;
}
.article--body pre {
    padding: 1rem;
    border-radius: 2px;
    line-height: 1.3;
}
.article--body code {
    font-family: 'IBM Plex Mono';
    background: var(--lightgray)
}