---
layout: base
---

<article class='article'>
    <header class="article--header">
        <h1 class='article--title'>{{ title }}</h1>
        <p class="article--intro">{{intro}}</p>
    </header>
    <main class="article--body">
        {{content}}
    </main>

</article>